.container {
    min-height: 100vh;
    background-color: rgb(var(--background));
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}

.mainContent {
    width: 100%;
}

@media (max-width: 768px) {
    .container {
        padding: 0.5rem;
    }
}
